*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(assets/hotelbackround.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    box-sizing : border-box;    
    background : rgba(0, 0, 0, 0.6);     
    border-bottom: 1px solid #f5ba41;
}

nav img{
    width: 200px;
}

.nav-link{
    flex: 1;
    text-align: right;
}

.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-link ul li a{
    color: white;
    text-decoration: solid;
    font-size: 15   px;
}

.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #FFD700;
    display: block;
    margin: auto;
    transition: 0.25s;
}

.nav-link ul li:hover::after{
    width: 100%;
}

.header-text{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-text img{
    width: 20%;
}

.header-text h1{
    font-size: 70px;
}

.header-text p{
    margin: 30px 0px 40px;
    font-size: 14px;
    color: white;
}

@media(max-width: 768px){
    .nav-link ul li{
        display: block;
    }
}

.title{
    margin-top: 30px;
}

.title h1{
    color: #747373;
    margin-left: 50px;
    font-weight:900;
}

.title hr{
    color: black;
    width: 97%;
    margin-left: 20px;
}

.rooms{
    max-width: 300px;
    margin: 0;
    padding: 3rem 2rem;
    grid-template-columns: repeat(autofit, minmax(30rem, 1fr));
    gap: 2rem;
    display: flex;
}

.box{
    text-align: center;
    padding: 3rem 2rem;
    background-color: rgb(230, 227, 227);
    box-shadow: .1rem solid rgba(0, 0, 0, .1);
    outline: .1rem solid rgb(90, 90, 90);
    outline-offset: -1.5rem;
}

.box img{
    height: 280px;
}

@media (max-width: 768px){
    .title h1{
        font-size: px;
        margin-left: 20px;
        margin-top: 50px;
    }

    .title hr{
        width: 87%;
    }

    .rooms{
        max-width: 300px;
        display: grid;
    }

    .box img{
        height: 140px;
    }
}

.totop{
    margin: auto;
    height: 30px;
    background-color: black;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.totop ul li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: rgb(184, 184, 184);
    display: block;
    transition: all 0.3s ease;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col ul{
    list-style: none;
}

.footer{
    background-color: #2e2c2c;
    padding: 70px 0px;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f5ba41;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}


.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: rgb(184, 184, 184);
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #FFD700;
    padding-left: 10px;
}

@media(max-width: 768px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 768px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
}